.header--main-div {
    min-height: 100px;
    position: relative;
}

.header--heading {
    font-size: 3rem;
    position: absolute;
    left: 30px;
    bottom: 0;
    margin: 0;
    font-weight: 300;
}

@media (min-width: 786px) {
    .header--main-div {
        min-height: 200px;
    }
    
    .header--heading {
        font-size: 5rem;
    }
}

.header--top-rounded-corners-div {
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    min-height: 50px;
}